header {
    color: white;
    padding: 20px;
    text-align: center;
    background: linear-gradient(plum,rgb(67, 53, 83));
    background-repeat: no-repeat ;
    font-size: 2rem;

}
nav {
    background-color: rgb(67, 53, 83);
    position: relative;
    top: 0;
    position: sticky;
    left: 0; 
    height: 200px;
    width: 200px; 
    padding: 10px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    border-bottom-right-radius: 10px;
    
}
nav a {
    color: rgb(213, 230, 255);
    text-decoration: none;
    
   
}
nav li {
    list-style-type:none ;
    font-size: 1.6rem;
    padding: 13px;
   
}


body {
    height: 200vh;
    margin: 0;
}


